.transactionHistory {
  width: 100%;
  border-collapse: collapse;
}

.heading {
  border: 2px solid #272626;
  background-color: hsl(0, 5%, 20%);
  font-weight: 700;
  color: #e0e0e0;
  padding: 8px;
}

.data {
  border: 2px solid #272626;
  text-align: start;

  padding: 8px;
  padding-left: 10%;
}
tr:nth-child(odd) {
  background-color: white; /* Колір фону для непарних рядків */
}

tr:nth-child(even) {
  background-color: lightgray; /* Колір фону для парних рядків */
}
